.wrapper {
  display: flex;
  align-items: center;
}

.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 20px auto;
  border-radius: 4px;
}

.paginationItem {
  display: inline;
}

.paginationLink {
  letter-spacing: unset;
  border: 0;
  border-radius: 30px !important;
  transition: all .3s;
  padding: 0 11px;
  margin: 0 3px;
  min-width: 30px;
  height: 30px;
  min-height: auto;
  line-height: 30px;
  font-weight: 400;
  font-size: 12px;
  text-transform: uppercase;
  background: transparent;
  position: relative;
  float: left;
  text-decoration: none;
  box-sizing: border-box;
}

.paginationLink:first-of-type {
  margin-left: 0;
}

.paginationLink, .paginationLink:hover, .paginationLink:focus {
  color: #000000;
}

.paginationLink:hover, .paginationLink:focus {
  z-index: 3;
  background-color: #eee;
  border-color: #ddd;
}

.paginationLink:hover {
  cursor: pointer;
}

.active, .active:hover, .active:focus {
  background-color: #0037c1;
  border-color: #0037c1;
  color: #FFFFFF;
}

.active:hover, .active:focus {
  z-index: 2;
  cursor: default;
}

.paginationLink[disabled], .paginationLink[disabled]:hover, .paginationLink[disabled]:focus {
  cursor: not-allowed;
  background-color: #fff;
  border-color: #ddd;
  opacity: .7;
}

