.photos_container {
  font-size: 1.2rem;
  line-height: 1.5;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, auto);
}

@media (max-width: 990px) {
  .photos_container {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 790px) {
  .photos_container {
    grid-template-columns: repeat(1, auto);
  }
}
